@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    body{
        @apply font-text-netflix overflow-x-hidden;
    }
    h1,h2,h3,h4,h5,h6{
        @apply font-bold;
    }
    p{
        @apply mb-4;
    }
    @font-face {
        font-family: "Netflix Sans";
        src: url(./fonts/NetflixSans-Regular.woff2) format("woff2");
    }
    @font-face {
        font-family: "Neflix Sans Bold";
        src: url(./fonts/NetflixSans-Bold.woff2) format("woff2");
    }
    input,textarea, button{
        @apply outline-none focus:outline-none;
    }

}

@layer components{
    .btn{
        @apply px-3 py-1 inline-block
        bg-transparent text-white border border-white rounded-md
        transition-all duration-300 text-sm;
    }
    .btn-accent{
        @apply bg-accent border-accent hover:bg-accent_hover hover:border-accent_hover;
    }
    .btn-btdark{
        @apply bg-btdark/70;
    }
    .btn-transparent{
        @apply bg-transparent border-transparent;
    }

    .input-wrapper{
        @apply relative mb-5;
        input{
            @apply w-full px-4 py-5 rounded-sm bg-black/45
            border border-white/70 leading-none
            text-white/60 focus:border-white focus:text-white valid:text-white;
        }
        label{
            @apply absolute ty-a left-5 text-white/70 transition-all duration-200 select-none pointer-events-none;
        }
        input:focus + label, input:valid + label{
            @apply text-xs top-3 left-4;
        }
    }

    .feature-list .features:nth-child(even) .content{ @apply order-1; }

    .answer p:not(:last-of-type){ @apply text-lg mb-5; }
    .accordion *{ @apply select-none; }

    .footer {
        .footer__links>*{
            @apply w-1/2 lg:w-1/4 text-sm;
        }
        a, .footer__links>*{
            @apply text-white/85 underline hover:text-white;
        }
    }
    .header__buttons>ul>li>button{
        @apply text-2xl text-white;
    }

    .banner .header{
        li.nav__link{
            @apply text-stone-300;
        }
        li.nav__link.active{
            @apply font-bold text-white;
        }
    }
    .slider-wrapper{
        @apply relative;
        .slick-dots{
            @apply relative md:absolute md:top-[-55px] xl:top-[-65px] h-fit w-full md:w-fit right-0;
            ul {
                @apply md:text-right text-center;
                li{
                    @apply h-1 w-5 p-0;
                    button{ @apply bg-white/50 h-1 w-6 p-0 before:hidden; }
                }
                li.slick-active button{ @apply bg-white; }
            }
        }
        
        .slick-arrow{
            @apply h-full f-col-center mt-[-3px]
            opacity-100 xl:opacity-0 hover:opacity-100 
            /* bg-transparent hover:bg-white/20 */
            transition-all duration-200 before:hidden;
            svg{ @apply h-fit text-white text-4xl; }
        }
        
        .slick-list{
            @apply overflow-y-visible overflow-x-hidden mx-2;
            .slick-track{
                @apply flex py-6 pointer-events-none *:pointer-events-auto;
                .slick-slide{
                    @apply mx-2 transition-all duration-500 hover:scale-110;
                }
            }
            /* .slick-track:hover > *{
                @apply brightness-[25%];
            }
            .slick-track:hover > *:hover{
                @apply brightness-100;
            } */
        }
    }

    .modal_movie_info{
        @apply *:text-white;
        .movie__info::before{
            @apply content-[''] absolute bottom-[95%] left-0
            h-[100px] block w-full z-[1]
            bg-gradient-to-t from-[rgba(20,20,20,1)]
            from-10% via-[rgba(20,20,20,0.4)]
            via-60% to-transparent
        }
    }
}

@layer utilities{
    .f-col{ @apply flex flex-col; }
    .f-col-center{ @apply flex flex-col items-center justify-center; }
    .center {@apply items-center justify-center; }
    .between-center {@apply justify-between items-center; }
    .between-end {@apply justify-between items-end; }

    .ft-el{ @apply font-extralight }
    .ft-lt{ @apply font-light }
    .ft-nm{ @apply font-normal }
    .ft-md{ @apply font-medium }
    .ft-sb{ @apply font-semibold }
    .ft-b{ @apply font-bold }
    .ft-ex{ @apply font-extrabold }

    .mx-a{ @apply mx-auto }

    .tx-a{ @apply left-1/2 -translate-x-1/2 }
    .ty-a{ @apply top-1/2 -translate-y-1/2 }
    .txy-a{ @apply top-1/2 -translate-y-1/2 left-1/2 -translate-x-1/2 }

    .pointer{ @apply cursor-pointer; }
}